@model IEnumerable<CityWeather>
@{
    ViewBag.Title = "Weather";
}


<div class="text-center margin-top-200 content-center">
    @foreach (var city in Model)
    {
        <partial name="_IndexPartial" model="city"></partial>
    }
</div>